<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TMOW</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

	 <!-- Just an image -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
	    		<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
  			</button>
          <a class="navbar-brand" href="{% url 'home' %}">TMOW</a>
	  		</div>
	  		<div class="collapse navbar-collapse" id="mynav">
    			<ul class="nav navbar-nav">
          <li><a href="{% url 'past' %}">Past</a></li>
          <li><a href="{% url 'future' %}">Future</a></li>
          <li><a href="{% url 'jobs' %}">Jobs</a></li>
          <li><a href="{% url 'blog' 'all'%}">Blog</a></li>
    		</ul>>
    		</div>
	  	</div>
	</nav>



<div class="container-fluid">


<h1 >Future</h1>

The aim of the next three months is to take a structured appraoch to learning programming, data science, data engineering and software development. 

{% load static %}

<img src = "{% static 'sitepages/DataScience.jpeg'%}" class = "img-responsive center-block" style = "max-height:400px;">


<h3>Technologies</h3>

The technologies I want to learn over the three months are:


<h5>Programming Languages</h5>
<list>
  <li>Python</li> 
</list>

<h5>Software development</h5>
<list>
  <li>React</li> 
  <li>Git</li> 
  <li>Structure Databases - MySQL, Postgress</li> 
  <li>UnStructure Databases - Mongo</li> 
  <li>AWS</li> 
  <li>Spark</li> 
</list>

<h5>Data Science</h5>
<list>
  <li>Exploratory Data Analysis</li> 
  <li>Machine Learning</li> 
</list>

<h5>Statistics</h5>
<list>
  <li>Bayesian Stats</li> 
</list> 

<img src = "{% static 'sitepages/Skills.png'%}" class = "img-responsive center-block" style = "max-height:400px;">


<h3>Timeline</h3>

<h5>November</h5>
<h5>December</h5>
<h5>January</h5>

<h3>Approach/Resources</h3>

<list>
  <li>Udemy</li>
  <li>DataCamp</li> 
  <li><a href="tinyurl.com/rucnkyzz">Hands-on Machine Learning with Scikit-Learn, Keras, and TensorFlow: Concepts, Tools, and Techniques to Build Intelligent Systems</a></li>
  <li><a href="https://softwarecornwall.org/clusters-project/
">Software Cornwall - Gateway to Tech</a></li>
</list> 



<h3>Projects</h3>




Im hoping to complete one or two small projects every week and one big project at the end. The aim is that the big project will:
<list>
  <li>Gather data from a bunch of sources.</li>
  <li>Store data in a data lake</li>
  <li>Clean data and put in an SQL database</li>
  <li>Does some machine learning stuff on the data</li>
  <li>Have a django api to serve the data</li>
  <li>Have a react web app front end to connect to the api</li>
  <li>Have the pipeline deployed on AWS</li>  
</list> 



</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
