<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TMOW</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

	 <!-- Just an image -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
	    		<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
  			</button>
	  			<a class="navbar-brand" href="{% url 'home' %}">TMOW</a>
	  		</div>
	  		<div class="collapse navbar-collapse" id="mynav">
    			<ul class="nav navbar-nav">
    			<li><a href="{% url 'past' %}">Past</a></li>
    			<li><a href="{% url 'future' %}">Future</a></li>
    			<li><a href="{% url 'jobs' %}">Jobs</a></li>
    			<li><a href="{% url 'blog' 'all'%}">Blog</a></li>
    		</ul>>
    		</div>
	  	</div>
	</nav>



<div class="container-fluid">


<h1 class = "text-center">ThreeMonthsOffWork</h1>

{% load static %}
<img src = "{% static 'sitepages/home.jpg'%}" class = "img-responsive center-block" style = "max-height:300px;">


<br/>

<h3>What is the ThreeMonthsOffWork project?</h3>
<p>ThreeMonthsOffWork is a website I have put togeather to document my coding progress over the three months I have taken off work. The aim is to upskill as much as possible through courses and projects and begin a new career as a developer in Cornwall... (and go surfing as much as possible).</p>

<h3>Motivation</h3>

<p>I grew up in Penzance Cornwall and enjoyed a childhood of surfing and exploring the Cornish coast. I moved away from the South West to attend University and work around the UK but have been exploring routes back to Cornwall throughout. I have built on my programming skills during my career but havent had the oportunity to study data science in a holistic way. I was able to work from home over the pandemic and have been living in Penzance from June 2020. Over this period I have realised that I want to continue living close to friends and family in Cornwall and start a new career as a data scientist/ software developer. I have taken the decision to have three months off work to try and make this happen.</p>

<h3>Who is Mark?</h3>
<p>I am an engineer/scientist from Penzance Cornwall with a background in environmental engineering and numerical modelling. Here is a picture of me...</p>

{% load static %}
<img src = "{% static 'sitepages/Mark.jpg'%}" class = "img-responsive center-block" style = "max-height:300px;">


<h3>This Site</h3>
The site has four main sections:

<br/>

<list>
  <li><a href= "{% url 'past' %}"> <b>Past</b></a> - Outlines how I have developed as a programmer to date.</li> 
  <li><a href= "{% url 'future' %}"> <b>Future</b></a> - What Ill be doing over the next three months.</li> 
  <li><a href= "{% url 'jobs' %}"> <b>Jobs</b></a> - A list of companies and jobs in the South West and the skills needed for these jobs</li>
  <li><a href= "{% url 'blog' 'all'%}"> <b>Blog</b></a> - Daily updates of my progress over the three months.</li> 
</list> 

<br/>

This site is built with django on the back end and bootstrap has been used to make it look pretty on the front end. The code is on my GitLab account <a href="https://gitlab.com/threemonthsoffwork_group/portfolio">here</a>. It is based on one of the projects from the Udemy course <a href="https://www.udemy.com/course/the-ultimate-beginners-guide-to-django-python-web-dev-website/">here</a>.

</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
