<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TMOW</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

	 <!-- Just an image -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
	    		<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
  			</button>
          <a class="navbar-brand" href="{% url 'home' %}">TMOW</a>
	  		</div>
	  		<div class="collapse navbar-collapse" id="mynav">
    			<ul class="nav navbar-nav">
          <li><a href="{% url 'past' %}">Past</a></li>
          <li><a href="{% url 'future' %}">Future</a></li>
          <li><a href="{% url 'jobs' %}">Jobs</a></li>
          <li><a href="{% url 'blog' 'all'%}">Blog</a></li>
    		</ul>>
    		</div>
	  	</div>
	</nav>



<div class="container-fluid">


<h1 >Jobs</h1>

<h3>Companies</h3>

<list>
  <li><a href="https://hiyield.co.uk/">Hiyield</a></li> 
  <li><a href="https://www.hertzian.co.uk/">Hertzian</a></li>
</list> 

<h3>Positions</h3>

<list>
  <li><a href="https://hiyield.co.uk/jobs/full-stack-web-developer/">Hiyield - Full Stack Python Web Developer</a></li> 
  <li><a href="https://www.hertzian.co.uk/careers/junior-full-stack-developer">Hertzian - Junior Full Stack Developer</a></li>
</list> 


</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>


