<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TMOW</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

	 <!-- Just an image -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
	    		<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
  			</button>
          <a class="navbar-brand" href="{% url 'home' %}">TMOW</a>
	  		</div>
	  		<div class="collapse navbar-collapse" id="mynav">
    			<ul class="nav navbar-nav">
          <li><a href="{% url 'past' %}">Past</a></li>
          <li><a href="{% url 'future' %}">Future</a></li>
          <li><a href="{% url 'jobs' %}">Jobs</a></li>
          <li><a href="{% url 'blog' 'all'%}">Blog</a></li>
    		</ul>>
    		</div>
	  	</div>
	</nav>



<div class="container-fluid">


<h1 >Past</h1>

{% load static %}

<p>My CV is available <a href="{% static 'sitepages/MGD_CV2021.pdf'%}">here</a>.</p>

<hr/>

<h3>Academic background</h3>
<p>I have an undergraduate and Masters degree in Ocean and Climate sciences specialising in numerical modelling and scientific programming. I took some classes in Matlab at University but I am otherwise a self taught programmer. Whilst at University I developed skills in Matlab and Python data analysis and building numerical models. </p>

<h3>Industry background</h3>
<p>I have six years experience in as an engineering consultant and a year as a data analyst. Over this period I have led on the technical side of many projects for tasks such as:</p>
<list>
  <li>Data exploration</li> 
  <li>Model result post-processing</li>
  <li>Data visualisation</li>  
  <li>Building Neural Networks</li>    
  <li>Automation</li>
  <li>GIS</li>  
</list> 
<p>Whilst in industry I have worked in a number of teams in which I have been regarded as the most experienced programmer. This has meant I have had a lot of oportunities to solve problems with Python but I havent had many oportinities to colaborate with or learn from  other developers.</p>


<hr/>


<h3>Past statistics and machine learning projects</h3>

<h4>Statistics</h4>

<h5><a href= "https://gitlab.com/markgdawson/statistics/-/blob/4f50749412196d059efcf2b8a79ef42df833f05c/Statistics/03%20-%20Extreme%20Value%20Analysis%201.ipynb"> <b>Fiting models to data</b></a></h5> 
<h5><a href= "https://gitlab.com/markgdawson/statistics/-/blob/4f50749412196d059efcf2b8a79ef42df833f05c/Statistics/04%20-%20Extreme%20Value%20Analysis%202.ipynb"> <b>Testing model accuracy with Kolmogorov-Smirnov test</b></a></h5> 
<h5><a href= "https://gitlab.com/markgdawson/statistics/-/blob/4f50749412196d059efcf2b8a79ef42df833f05c/Statistics/05%20-%20Extreme%20Value%20Analysis%203.ipynb"> <b>Confidence intervals with boostraping </b></a></h5> 




<h4>Machine learning</h4>
<h5><a href= "https://gitlab.com/markgdawson/hydrology_ml "> <b>Neural Networks for wave and flow prediction</b></a></h5> 
<list> 
  <li>Whilst working as an environmental engineer I came across problems that were not easily solved with traditional methods.</li> 
   <li>I knew Neural Networks would be a good fit for these kinds of problems so I researched the topic and came up with the novel approach.</li>
   <li>The code uses LSTM neural networks built using Keras and TensorFLow to predict timeseries of environemntal parameters using data from near-by gauges.</li>

</list> 

<hr/>

<h3>Past web dev projects</h3>
<p>All my web development experience to date has come from working on personal projects in Django/Flask, Postgress/MySQL, Bootstrap and Vue.js . Some of these projects have not been monitored or maintaned in several years and have subsequently fallen into disrepair. I have recently tried to get these sites back live but much of the functionality requires fixing. Examples are listed below.</p>


<h5><a href= "http://www.dailyren.co.uk/"> <b>Dailyren</b></a></h5> 
<list> 
  <li>The site is based on a gmail account which has many google alerts set up tracking infrastructure and renewable energy key words and terms.</li> 
  <li>The account is queried every day at 9am and 12am using the GmailAPI with the results being compiled in a Postgres database.</li> 
  <li>The results are then displayed in different ways on the website</li> 
</list> 

<br/>

  <h5><a href= "http://www.mdawson.pythonanywhere.com "> <b>PZfromSpace</b></a></h5> 
<list> 
  <li>The site is based around a Python library called "sentinelsat" which has been developed to make requests to the Copernicus Open Access Hub.</li> 
 <li>Every day a new request is made for the latest image inside a specified region of the south west UK and if new images are available they are downloaded The timestamp of the image is logged and the wavewatch3 database is also queried to find the Hs dataset with the most closest timestep.</li> 
 <li>All the data is saved to the database and displayed on the front-end with leaflet and a Vue.js app. </li> 
</list> 

<p>I hope to get the site functioning properly and the code better documented of the next three months.</p>



</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>

