<!DOCTYPE html>
<html>
<head>
	<title>TMOW home</title>
</head>
<body>


<nav>
<a href="{% url 'index' %}">Home</a>
<a href="{% url 'past' %}">Past</a>
<a href="{% url 'future' %}">Future</a>
<a href="{% url 'blog' %}">Blog</a>
</nav>
<h1> Home </h1>


<p>I am Mark and this is a website to track my development </p>

</body>
</html>