<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TMOW</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

	 <!-- Just an image -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
	    		<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
  			</button>
	  			<a class="navbar-brand" href="{% url 'home' %}">TMOW</a>
	  		</div>
	  		<div class="collapse navbar-collapse" id="mynav">
    			<ul class="nav navbar-nav">
    			<li><a href="{% url 'past' %}">Past</a></li>
    			<li><a href="{% url 'future' %}">Future</a></li>
    			<li><a href="{% url 'jobs' %}">Jobs</a></li>
    			<li><a href="{% url 'blog' 'all'%}">Blog</a></li>
    		</ul>>
    		</div>
	  	</div>
	</nav>



<div class="container-fluid">
    <h1 class = "text-center">Blog Posts</h1>

<!--     {% load static %}
    <img src = "{% static 'posts/home.jpg'%}" class = "img-responsive center-block" style = "max-height:300px;">
 -->
    <h2>Find Posts by Catagory</h2>
    <a href= "{% url 'blog' 'all' %}"><h5>All</h5></a>
    <a href= "{% url 'blog' 'Python' %}"><h5>Python</h5></a>
    <a href= "{% url 'blog' 'Statistics' %}"><h5>Statistics</h5></a>
    <a href= "{% url 'blog' 'Software Development' %}"><h5>Software Development</h5></a>
    <a href= "{% url 'blog' 'Data Engineering' %}"><h5>Data Engineering</h5></a>
    <a href= "{% url 'blog' 'Data Science' %}"><h5>Data Science</h5></a>
    <a href= "{% url 'blog' 'Surfing' %}"><h5>Surfing</h5></a>
    <hr/>

    {% if search_option == "all" %}	    
	    <h2>Lastest Posts</h2>
	    <hr/>

		{% for post in posts.all%}

		<a href= "{% url 'post_details' post.id %}"><h3>{{ post.title}}</h3></a>
		<h4><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.pub_date_pretty }}</h4>
		{{post.study_select}}
		<br/>
		<img src="{{ post.image.url}}" class = "img-responsive center-block" style = "max-height:300px;"/>
		<br/>
		<p>{{ post.summary | safe }}...</p>
		<br/>
		<br/>

		{% endfor %}
	{% endif %}



    {% if search_option != "all" %}	    
	    <h2>{{search_option}} Posts</h2>
	    <hr/>
		{% for post in posts.all%}
			{% if search_option in post.study_select %}
				<a href= "{% url 'post_details' post.id %}"><h3>{{ post.title}}</h3></a>
				<h4><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.pub_date_pretty }}</h4>
				{{post.study_select}}
				<br/>
				<img src="{{ post.image.url}}" class = "img-responsive center-block" style = "max-height:300px;"/>
				<br/>
				<p>{{ post.summary | safe }} ...</p>
				<br/>
				<br/>
			{% endif %}
		{% endfor %}
	{% endif %}




</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
